html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  background-color: #BC2132;
  color: #FFF;
}

a {
  color: #FFF;
  text-decoration: none;
}

.article a {
  color: #BC2132;
}

.button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: center;
}

.content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  font-size: 0;
}

h2 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .entry-content p, .entry-content blockquote, .entry-content ul {
  margin-bottom: 1.3em;
}
.entry-content em {
  font-style: italic;
}

header h1 {
  margin-bottom: 0;
}

p, ul, ul li {
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
}

p {
  margin-bottom: 1.5em;
}

.entry-content blockquote {
  font-style: italic;
  background-color: #F0F0F0;
  padding: 20px;
}
.entry-content ul {
  list-style: disc;
  padding-left: 25px;
}
.entry-content ul li {
  margin-bottom: 10px;
}

form input[type='text'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background: #FFF;
  margin: 0;
  outline: none;
  padding: 8px 16px;
}
form input[type='text']:focus {
  background: #e6f7ff;
}
form input[type='submit'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  background: #ffcc33;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 8px 16px;
}

.sidebar {
  width: 31.25%;
}

#menu_container {
  overflow: hidden;
  *zoom: 1;
  padding: 20px 0 40px;
}

#menu h1 {
  float: left;
}
#menu h1 img {
  display: inline;
}
#menu ul {
  float: left;
  font-size: 0;
}
#menu ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 3em;
}
#menu ul li a {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  body .content .sidebar {
    width: 100%;
    display: block;
  }
  body .content #mce-responses {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-right: 10px;
  }
}
@media screen and (max-width: 760px) {
  h2 {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
  }

  #menu_container {
    background: #991B29;
    margin-bottom: 10px;
    padding: 10px 0;
  }

  #menu h1 {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  #menu ul {
    float: none;
    text-align: center;
  }
  #menu ul li {
    margin: 0 1.5%;
    width: 30%;
  }
}
@media screen and (max-width: 520px) {
  h2 {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  h3 {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .content {
    padding-left: 8px;
    padding-right: 8px;
  }

  #menu h1 {
    width: 100%;
    text-align: center;
  }
  #menu h1 img {
    width: 150px;
    height: 30px;
  }
  #menu ul {
    float: none;
    text-align: center;
  }
  #menu ul li {
    margin: 0 1.5%;
    width: 30%;
  }
  #menu ul li a {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 44px;
  }
}
#event_container {
  padding-bottom: 20px;
}

#introduction_and_tickets {
  clear: both;
}
#introduction_and_tickets #introduction {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 61.5%;
  margin-right: 7.25%;
  max-width: 590px;
}
#introduction_and_tickets #introduction h2 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
#introduction_and_tickets #introduction h3 {
  color: #FFB3BB;
}
#introduction_and_tickets #introduction h3 + p {
  margin-top: 1.5em;
}
#introduction_and_tickets #introduction p {
  margin-bottom: 1.5em;
}
#introduction_and_tickets #introduction .event_details {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  background: #FFCC33;
  color: #231F20;
  padding: 0 2em;
}
#introduction_and_tickets #tickets {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 100%;
  width: 31.25%;
  max-width: 300px;
}
#introduction_and_tickets #tickets a.button {
  margin-bottom: 30px;
  width: 100%;
}
#introduction_and_tickets #tickets .buy_tickets {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  padding: 40px 0;
  background: #FFCC33;
  color: #231F20;
  position: relative;
}
#introduction_and_tickets #tickets .buy_tickets:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -2px;
  width: 100%;
  padding: 0 2px;
  height: 20px;
  background-image: url('/library/images/bkgr/bkgr_buy_tickets.png?1383586485');
  background-size: 100% 20px;
  background-repeat: no-repeat;
}
#introduction_and_tickets #tickets .be_a_sponsor,
#introduction_and_tickets #tickets .get_involved {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 13px 0;
  background: #FFF;
  color: #231F20;
}
#introduction_and_tickets #tickets .get_involved {
  background: #991B29;
  color: #FFF;
}

@media screen and (max-width: 768px) {
  #introduction_and_tickets #tickets .buy_tickets {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
  }
}
@media screen and (max-width: 760px) {
  #introduction_and_tickets {
    text-align: center;
  }
  #introduction_and_tickets #introduction {
    width: 100%;
    max-width: 480px;
    margin: 0;
  }
  #introduction_and_tickets #introduction .event_details {
    display: none;
  }
  #introduction_and_tickets #tickets {
    width: 100%;
    max-width: 480px;
    margin: 0;
  }
  #introduction_and_tickets #tickets .buy_tickets {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
  }
}
@media screen and (max-width: 520px) {
  #introduction_and_tickets #introduction {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
  }
  #introduction_and_tickets #introduction h2 {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
  }
  #introduction_and_tickets #introduction h3 {
    color: #FFB3BB;
  }
  #introduction_and_tickets #introduction h3 + p {
    margin-top: 1em;
  }
  #introduction_and_tickets #introduction p {
    margin-bottom: 1.5em;
  }
  #introduction_and_tickets #introduction .event_details {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    background: #FFCC33;
    color: #231F20;
    padding: 0 2em;
  }
  #introduction_and_tickets #tickets a.button {
    margin-bottom: 10px;
    width: 100%;
  }
  #introduction_and_tickets #tickets .buy_tickets {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    padding: 20px 0;
  }
  #introduction_and_tickets #tickets .be_a_sponsor,
  #introduction_and_tickets #tickets .get_involved {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 0;
  }
}
#news_and_updates {
  margin-top: 40px;
}
#news_and_updates h2 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
}
#news_and_updates #stories {
  display: table;
  border-spacing: 30px;
  margin: 0 -30px 0;
}
#news_and_updates #stories ul {
  display: block;
}
#news_and_updates #stories ul li {
  display: block;
  width: 100%;
  padding: 0;
  height: auto;
  margin-bottom: 1em;
}
#news_and_updates #stories ul li p {
  margin-bottom: 0;
}
#news_and_updates #stories ul .from-now {
  font-size: 0.7em;
  text-transform: uppercase;
}
#news_and_updates #stories ul a {
  color: #BC2132;
}
#news_and_updates li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #FFF;
  color: #000;
  display: table-cell;
  padding: 20px;
  position: relative;
  width: 30%;
}
#news_and_updates li.tweets h2 {
  margin-bottom: 20px;
}
#news_and_updates li h2 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  padding: 0;
  margin-bottom: 0.5em;
}
#news_and_updates li h2 a {
  text-decoration: none;
  color: #BC2132;
}
#news_and_updates li h3 {
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0.5em;
}
#news_and_updates li h3 + p {
  margin-top: 1em;
}
#news_and_updates li p {
  margin-bottom: 1em;
}
#news_and_updates li a.psudeo_anchor {
  color: #000;
  text-decoration: underline;
}
#news_and_updates li a.excerpt-read-more {
  color: #BC2132;
  display: block;
  margin-top: 0.5em;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  body #news_and_updates li h2 {
    text-align: left;
  }
  body #news_and_updates li:nth-child(2) {
    display: none;
  }
  body #news_and_updates h2 {
    text-align: center;
  }
}
@media screen and (max-width: 760px) {
  #news_and_updates li:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  #news_and_updates {
    display: block;
    margin: 20px 0 0;
  }
  #news_and_updates h2 {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding: 1em 0 1em;
  }
  #news_and_updates #stories {
    display: block;
    margin: 0;
  }
  #news_and_updates #stories li {
    color: #000;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
  #news_and_updates #stories li h2 {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
#sponsor_container {
  background: #991B29;
}

#sponsors {
  text-align: center;
}
#sponsors h2 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  padding: 1em 0 0;
}
#sponsors h3 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFB3BB;
  padding: 1em 0 1em;
}
#sponsors .kind_is {
  text-align: center;
  border-bottom: 2px #BC2132 solid;
  font-size: 0px;
}
#sponsors .kind_is a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: center;
  padding: 5px;
  background: #FFF;
  margin-bottom: 30px;
}
#sponsors .kind_is a img {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
  display: block;
}
#sponsors .kind_is.santa a {
  width: 100%;
}
#sponsors .kind_is.mrsclaus a {
  width: 48.4375%;
  margin-left: 3.125%;
}
#sponsors .kind_is.mrsclaus a:nth-child(2n+1) {
  margin-left: 0;
}
#sponsors .kind_is.elf a, #sponsors .kind_is.in-kind a {
  width: 31.25%;
  margin-left: 3.125%;
}
#sponsors .kind_is.elf a:nth-child(3n+1), #sponsors .kind_is.in-kind a:nth-child(3n+1) {
  margin-left: 0;
}
#sponsors .kind_is.reindeer a, #sponsors .kind_is.snowflake a, #sponsors .kind_is.gingerbread a, #sponsors .kind_is.candycane a {
  width: 22.4%;
  margin-left: 3.125%;
}
#sponsors .kind_is.reindeer a:nth-child(4n+1), #sponsors .kind_is.snowflake a:nth-child(4n+1), #sponsors .kind_is.gingerbread a:nth-child(4n+1), #sponsors .kind_is.candycane a:nth-child(4n+1) {
  margin-left: 0;
}
#sponsors .kind_is.in-kind {
  border-bottom: 0px;
}
#sponsors .kind_is.in-kind-2 a {
  width: 20.4%;
  margin-left: 3.125%;
}
#sponsors .kind_is.in-kind-2 a:nth-child(4n+1) {
  margin-left: 0;
}

@media screen and (max-width: 520px) {
  #sponsors h2 {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  #sponsors h3 {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  #sponsors .kind_is.reindeer a, #sponsors .kind_is.snowflake a, #sponsors .kind_is.gingerbread a, #sponsors .kind_is.candycane a {
    width: 31.25%;
    margin-left: 3.125%;
  }
  #sponsors .kind_is.reindeer a:nth-child(4n+1), #sponsors .kind_is.snowflake a:nth-child(4n+1), #sponsors .kind_is.gingerbread a:nth-child(4n+1), #sponsors .kind_is.candycane a:nth-child(4n+1) {
    margin-left: 3.125%;
  }
  #sponsors .kind_is.reindeer a:nth-child(3n+1), #sponsors .kind_is.snowflake a:nth-child(3n+1), #sponsors .kind_is.gingerbread a:nth-child(3n+1), #sponsors .kind_is.candycane a:nth-child(3n+1) {
    margin-left: 0;
  }
}
#overview {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: #FFF;
  color: #333333;
  margin-right: 3.125%;
  max-width: 630px;
  padding: 20px 20px 40px;
  vertical-align: top;
  width: 65.625%;
}
#overview h2, #overview h3 {
  color: #BC2132;
}
#overview ul#date_and_location li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-left: 32px;
  position: relative;
  vertical-align: top;
}
#overview ul#date_and_location li.date {
  width: 50%;
  margin-right: 10%;
}
#overview ul#date_and_location li.location {
  width: 40%;
}
#overview ul#date_and_location img {
  position: absolute;
  top: 0;
  left: 0;
}
#overview ul#date_and_location h2 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
#overview ul#date_and_location span {
  display: block;
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
#overview img#img_logo_dbfb {
  float: right;
}
#overview ul#featuring li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 5%;
  vertical-align: top;
  width: 30%;
}
#overview ul#featuring li:first-of-type {
  margin-left: 0;
}

#features {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: #E6F7FF;
  max-width: 300px;
  padding: 20px;
  vertical-align: top;
  width: 31.25%;
}
#features h3 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0084A6;
}
#features h3 + p,
#features h3 + ul {
  margin-top: 0.5em;
}
#features p, #features ul {
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 0.5em;
}
#features p + h3 {
  margin-top: 1em;
}
#features ul#activities li {
  margin-bottom: 1.5em;
}
#features ul#entertainment li {
  margin-bottom: 1.5em;
  padding-left: 26%;
  position: relative;
}
#features ul#entertainment li a {
  color: #333;
}
#features ul#entertainment li h4 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
#features ul#entertainment li span {
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
}
#features ul#entertainment li img {
  position: absolute;
  left: 0;
  top: 0;
  -moz-border-radius: 44px;
  -webkit-border-radius: 44px;
  border-radius: 44px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background-color: #B8C6CC;
  width: 20%;
  max-width: 44px;
}

@media screen and (max-width: 768px) {
  #overview {
    margin: 0 0 16px;
    max-width: none;
    width: 100%;
  }

  #features {
    margin: 0;
    max-width: none;
    width: 100%;
  }
}
@media screen and (max-width: 768px) and (min-width: 521px) {
  #features ul#activities li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    width: 47%;
    margin-bottom: 0.5em;
  }
  #features ul#activities li:first-of-type {
    margin-right: 6%;
  }
  #features ul#entertainment li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding-left: 8%;
    vertical-align: top;
    width: 30%;
    margin-left: 5%;
  }
  #features ul#entertainment li:nth-of-type(3n+1) {
    margin-left: 0;
  }
}
@media screen and (max-width: 520px) {
  #overview ul#date_and_location {
    text-align: center;
  }
  #overview ul#date_and_location li {
    display: block;
    padding-left: 0;
  }
  #overview ul#date_and_location li.date {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  #overview ul#date_and_location li.location {
    width: 100%;
  }
  #overview ul#date_and_location li h2 {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  #overview ul#date_and_location li img {
    display: none;
  }
  #overview img#img_logo_dbfb {
    display: none;
  }
  #overview ul#featuring li {
    width: 100%;
    margin-bottom: 0.5em;
    margin-left: 0;
  }

  #features ul#entertainment li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding-left: 60px;
    vertical-align: top;
    width: 100%;
  }
  #features ul#entertainment li:nth-of-type(3n+1) {
    margin-left: 0;
  }
}
.sidebar {
  width: 31.25%;
}

#connect_and_share {
  padding-bottom: 20px;
}

#stay_connected {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #FFF;
  margin-right: 3.125%;
  max-width: 630px;
  vertical-align: top;
  width: 100%;
}
.page-template-tickets-php #stay_connected {
  width: 65.625%;
}
.page-template-tickets-php #stay_connected p {
  width: 60%;
}
#stay_connected p {
  max-width: 100%;
}

#share {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 31.25%;
  max-width: 300px;
}
.sidebar #share {
  margin-top: 25px;
}
#share a.share {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 16px;
}
#share a.share img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
}

@media screen and (max-width: 768px) {
  #stay_connected p {
    max-width: 90%;
  }
}
@media screen and (max-width: 760px) {
  #stay_connected {
    text-align: center;
    margin-bottom: 2em;
    max-width: none;
    width: 100%;
  }
  .page-template-tickets-php #stay_connected {
    width: 100%;
    margin-bottom: 20px;
  }
  .page-template-tickets-php #stay_connected p {
    width: 100%;
  }
  #stay_connected p {
    max-width: none;
  }

  #share {
    text-align: center;
    max-width: none;
    width: 100%;
  }
}
#blog_container .articles {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 65.625%;
  margin-right: 3.125%;
}
#blog_container .wp-caption {
  padding: 10px;
  background-color: #EEEEEE;
  margin-bottom: 20px;
}
#blog_container .wp-caption img {
  display: block;
  margin-bottom: 10px;
}
#blog_container .wp-caption p {
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
}
#blog_container .article {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: #FFF;
  color: #333333;
  margin-right: 3.125%;
  max-width: 630px;
  padding: 20px 20px 40px;
  vertical-align: top;
  width: 100%;
  margin-bottom: 20px;
}
#blog_container .article h1 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #BC2132;
}
#blog_container .article h2 a {
  color: #BC2132;
}
#blog_container .article .metadata {
  margin: 1em 0 1.5em;
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
}
#blog_container .article p:first-of-type {
  clear: both;
}
#blog_container .article p:last-of-type {
  margin-bottom: 0;
}
#blog_container .sidebar {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 31.25%;
}
#blog_container #connect_and_share {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 300px;
  padding: 0;
  text-align: left;
  vertical-align: top;
}
#blog_container #connect_and_share #stay_connected {
  margin-bottom: 2em;
  max-width: none;
  width: 100%;
}
#blog_container #connect_and_share #stay_connected p {
  max-width: none;
}
#blog_container #connect_and_share #stay_connected form input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5em;
}
#blog_container #connect_and_share #share {
  max-width: none;
  width: 100%;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

@media screen and (max-width: 768px) {
  #blog_container .articles {
    width: 100%;
    margin: 0 0 20px;
  }
  #blog_container .article {
    margin: 0 0 20px;
    max-width: none;
    width: 100%;
  }
  #blog_container .sidebar {
    width: 100%;
    display: block;
  }
  #blog_container #connect_and_share {
    margin: 0 0 20px;
    max-width: none;
    width: 100%;
    text-align: center;
  }
  #blog_container #connect_and_share #stay_connected form input {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: auto;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 520px) {
  #blog_container .sidebar {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 100%;
  }
  #blog_container .article .author,
  #blog_container .article .date {
    float: none;
    display: block;
    margin: 0;
  }
  #blog_container .article .author {
    margin-top: 1em;
  }
  #blog_container .article .date {
    margin-bottom: 1em;
  }
}
.page-template-tickets-php #stay_connected input[type="text"] {
  margin-right: 10px;
}

.ticket_container,
.raffle_container,
.sponsor_container {
  *zoom: 1;
  margin: 0 -20px;
  padding: 20px;
  width: 100%;
}
.ticket_container:after,
.raffle_container:after,
.sponsor_container:after {
  content: "";
  display: table;
  clear: both;
}
.page-template-page-archive-event-php .ticket_container, .page-template-page-archive-event-php
.raffle_container, .page-template-page-archive-event-php
.sponsor_container {
  margin: 20px -20px;
}
.page-template-page-archive-event-php .ticket_container h2, .page-template-page-archive-event-php
.raffle_container h2, .page-template-page-archive-event-php
.sponsor_container h2 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
}
.page-template-page-archive-event-php .ticket_container h2 a, .page-template-page-archive-event-php
.raffle_container h2 a, .page-template-page-archive-event-php
.sponsor_container h2 a {
  color: #BC2132;
  text-decoration: underline;
}
.ticket_container h2,
.raffle_container h2,
.sponsor_container h2 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 44px;
  float: left;
  margin-bottom: 0.5em;
  padding-left: 32px;
  position: relative;
}
.ticket_container h2 img,
.raffle_container h2 img,
.sponsor_container h2 img {
  position: absolute;
  top: 11px;
  left: 0;
}
.ticket_container .button,
.raffle_container .button,
.sponsor_container .button {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  background: #FFCC33;
  color: #231F20;
  float: right;
  padding: 0 0.75em;
}
.ticket_container .tickets,
.raffle_container .tickets,
.sponsor_container .tickets {
  clear: both;
}
.ticket_container .tickets li,
.raffle_container .tickets li,
.sponsor_container .tickets li {
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  display: block;
  margin-bottom: 0.5em;
}
.ticket_container .tickets li:last-of-type,
.raffle_container .tickets li:last-of-type,
.sponsor_container .tickets li:last-of-type {
  margin-bottom: 0;
}
.ticket_container .tickets ol li,
.raffle_container .tickets ol li,
.sponsor_container .tickets ol li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
.ticket_container .tickets .price,
.raffle_container .tickets .price,
.sponsor_container .tickets .price {
  min-width: 80px;
}
.ticket_container .tickets .details span,
.raffle_container .tickets .details span,
.sponsor_container .tickets .details span {
  display: block;
}
.ticket_container .tickets .details span.description,
.raffle_container .tickets .details span.description,
.sponsor_container .tickets .details span.description {
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0.25em;
}
.ticket_container .fine_print,
.raffle_container .fine_print,
.sponsor_container .fine_print {
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  color: #DD9098;
}

.ticket_container {
  background: #FFFAEC;
  margin-top: 20px;
}

.raffle_container {
  background: #FFFCF5;
}

.sponsor_container {
  background: #FFFAEC;
  margin-bottom: 20px;
}
.sponsor_container h2 {
  margin-bottom: 0;
}

@media screen and (max-width: 520px) {
  .ticket_container,
  .raffle_container,
  .sponsor_container {
    text-align: center;
  }
  .ticket_container h2,
  .raffle_container h2,
  .sponsor_container h2 {
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    float: none;
    padding: 0;
    margin-bottom: 0.25em;
  }
  .ticket_container h2 img,
  .raffle_container h2 img,
  .sponsor_container h2 img {
    top: 0;
    display: none;
  }
  .ticket_container .button,
  .raffle_container .button,
  .sponsor_container .button {
    float: none;
    width: 100%;
    max-width: 320px;
  }
  .ticket_container .tickets li,
  .raffle_container .tickets li,
  .sponsor_container .tickets li {
    margin-top: 1em;
    margin-bottom: 0;
  }
  .ticket_container .tickets ol li,
  .raffle_container .tickets ol li,
  .sponsor_container .tickets ol li {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
  .ticket_container .tickets .price,
  .raffle_container .tickets .price,
  .sponsor_container .tickets .price {
    min-width: 0;
    font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}
#sponsorship h2, #sponsorship h3 {
  color: #FFF;
}
#sponsorship #become_a_sponsor {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: #FFF;
  color: #333333;
  margin-right: 3.125%;
  padding: 20px 20px 40px;
  vertical-align: top;
  width: 65.625%;
  margin-bottom: 20px;
}
#sponsorship #become_a_sponsor h2, #sponsorship #become_a_sponsor h3 {
  color: #BC2132;
}
#sponsorship #become_a_sponsor ul.packages {
  clear: both;
}
#sponsorship #become_a_sponsor ul.packages li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 50%;
  padding: 40px 0 0;
  vertical-align: top;
}
#sponsorship #become_a_sponsor ul.packages li:nth-of-type(2n+1) {
  padding-right: 20px;
}
#sponsorship #become_a_sponsor ul.packages li h2 {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0.5em;
  padding: 0;
  float: none;
}
#sponsorship #become_a_sponsor ul.packages li h3 {
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 0.5em;
}
#sponsorship #become_a_sponsor ul.packages li ol li, #sponsorship #become_a_sponsor ul.packages li p {
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin-bottom: 0.5em;
  padding: 0;
  width: auto;
}
#sponsorship #become_a_sponsor ul.packages li ol li:last-of-type, #sponsorship #become_a_sponsor ul.packages li p:last-of-type {
  padding: 0;
}
#sponsorship #become_a_sponsor ul.packages li ol li:nth-of-type(2n+1), #sponsorship #become_a_sponsor ul.packages li p:nth-of-type(2n+1) {
  padding: 0;
}
#sponsorship #become_a_sponsor ul.packages li a {
  color: #000;
}
#sponsorship #become_a_sponsor ul.packages li .button {
  font-family: "Museo", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  background: #FFCC33;
  color: #231F20;
  padding: 0 0.75em;
  float: none;
}
#sponsorship .sidebar {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 31.25%;
}
#sponsorship #connect_and_share {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 300px;
  padding: 0;
  text-align: left;
  vertical-align: top;
}
#sponsorship #connect_and_share #stay_connected {
  margin-bottom: 2em;
  max-width: none;
  width: 100%;
}
#sponsorship #connect_and_share #stay_connected p {
  max-width: none;
}
#sponsorship #connect_and_share #stay_connected form input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5em;
}
#sponsorship #connect_and_share #share {
  max-width: none;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #sponsorship #become_a_sponsor {
    width: 100%;
    margin: 0 0 20px;
  }
  #sponsorship .sidebar {
    display: block;
    width: 100%;
  }
  #sponsorship #connect_and_share {
    margin: 0 0 20px;
    max-width: none;
    width: 100%;
    text-align: center;
  }
  #sponsorship #connect_and_share #stay_connected form input {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: auto;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 520px) {
  #sponsorship #become_a_sponsor ul.packages li {
    width: 100%;
  }
  #sponsorship #become_a_sponsor ul.packages li:nth-of-type(2n+1) {
    padding-right: 0;
  }
  #sponsorship .sidebar {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 100%;
  }
}
